.image-header {
  padding-top: 15px;
}
.icon-header {
  padding-top: 5px;
  padding-left: 18px;
}
.card {
  margin-bottom: 40px;
  margin-top: 40px;
}
.card-setting {
  min-height: 1500px;
}

.custom-header {
  background-color: #fff;
  border-bottom: solid 1px #ced4da;
}
.card-header {
  background-color: #fff;
}

.column-setting {
  border: solid 1px #ced4da;
  padding: 10px;
}

li {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
