/* react-bootstrap */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 960px !important;
  }
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 5px !important;
  padding-left: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
/* template */
.root .template.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: white;
  margin-top: 90px;
}
/* app.js */
.header.container-fluid {
  position: fixed;
  top: 0px;
  z-index: 3;
  border: solid lightgray 1px;
  background-color: white;
}

.container-fluid .footer {
  margin-top: 20px;
  text-align: center;
}
.navbar.navbar-expand.navbar-light .icon-header {
  width: 50px;
  height: 50px;
}
.navbar.navbar-expand.navbar-light.navbar-icons {
  float: right;
}
.container-fluid .footer p {
  font-size: 15px;
}
.footer.row .container .row .col-sm-12 {
  background-color: #fafafa;
}
/* settings.js */
.body.row {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
}
.side-left.col-sm-3 {
  width: 25%;
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
  border-top: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
}
.side-right.col-sm-9 {
  /* border: black solid 1px !important; */
  margin-left: 0px;
  margin-right: 0px;
  max-width: 708px;
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
  border-top: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
}
.nav-pills .nav-link {
  border-radius: 0px !important;
  color: black;
}
.nav-item .nav-link:hover {
  background-color: #e8e8e8 !important;
  color: black !important;
  border-left: gray solid 1px;
}
.nav-pills .nav-link.active {
  background-color: transparent !important;
  border-left: gray solid 2px;
  color: black !important;
  font-weight: bolder;
}
.container.settings {
  background-color: white;
  padding-right: 0px !important;
  padding-left: 0px !important;
  border: solid lightgray 1px;
}

.nav-pills a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none !important;
  background-color: none;
}
.nav-pills a:hover {
  background-color: lightgray;
  border-left: 1px solid black;
}
.nav-pills .active {
  background-color: lightgray;
  border-left: 1px solid black;
}

/* home.js */
.card {
  margin: 20px;
}
.card-header {
  background-color: white !important;
}
.card-footer {
  background-color: white !important;
  padding: 0px !important;
}
.card-title img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid gray 1px;
}
.card-header .card-title.h5 {
  font-size: 20px;
  font-weight: bold;
}
.card-body .card-text {
  font-size: 20px;
}
.card-footer .form-control {
  min-height: 50px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.card-body img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.card-body .bookmark {
  width: 40px;
  height: 40px;
  float: right;
}
.my-profile.card {
  border: solid white 0px;
}
.my-profile.card .card-header {
  border-bottom: solid white 0px;
}
.container.my-profile {
  position: fixed;
  width: auto;
}
.col-sm-4 p {
  margin-left: 40px;
  font-weight: bold;
  color: gray;
}
.people-may-you-know.card {
  border: solid white 0px;
}
.people-may-you-know.card .card-header {
  border-bottom: solid white 0px;
}
.people-may-you-know.card .card-header img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: solid gray 1px;
}
.people-may-you-know.card .card-header .card-title.h5 {
  font-weight: lighter;
  font-size: 12px;
  color: gray;
}
.read-more-button:hover {
  cursor: pointer;
}
.read-more-button {
  color: gray;
  font-weight: bold;
}
.popover-body a img {
  width: 25px;
  height: 25px;
}
.popover-body a {
  color: black;
  font-weight: bold;
  font-size: 17.5px;
}
.popover-body a:hover {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
/* arround.js */
.card.arround {
  width: 15rem;
  height: 15rem;
  display: inline-block;
}
